/* font-family: 'Abril Fatface',
serif;
font-family: 'Lora',
serif;
font-family: 'Oswald',
sans-serif; */

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Abril Fatface , Arial';
    height: 100vh;
    background-color: #B6CA4C;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #B6CA4C 10px), repeating-linear-gradient(#D9DC5455, #D9DC54);

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgba(251, 237, 92, 0.5);
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    position: relative;
}

.logo img {
    margin-top: 20px;
    max-height: 200px;
    width: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);

}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

.space-music {
    margin-right: 50px;
    font-size: 1.2rem;
}

.nav-mobile-toggle {
    display: none;
    font-size: 20px;
    cursor: pointer;
}


main {
    opacity: 1;
    margin-top: 70px;
}

.namePhoto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 120px 320px;
    grid-template-areas:
        'photo contNames '
        'description description'
        'emo emo';

    align-items: center;
    justify-items: center;
}

.photo {
    width: clamp(200px, 20vw, 329px);
    align-items: center;
    grid-area: photo;
    border: 2px solid black;
    border-style: dashed double;
    border-radius: 50px 50px 0 0;

}

.contNames {
    grid-area: contNames;
    width: clamp(138px, 20vw, 325px);

}

.nameR {
    grid-area: nameR;
    font-size: clamp(2.1rem, 5vw, 4.9rem);
    justify-content: end;
    cursor: pointer;

}


.nameP {
    grid-area: nameP;
    font-size: clamp(2.1rem, 5vw, 4.9rem);
    cursor: pointer;


}

.nameG {
    grid-area: nameG;
    font-size: clamp(2.1rem, 5vw, 4.9rem);
    cursor: pointer;

}

.firstLetter {
    color: #9A4ECC;
}

.description {
    grid-area: description;
    border-bottom: 2px dashed black;
    font-size: clamp(1.2rem, 3vw, 2rem);
    text-align: center;
    margin-top: 20px;
}



.description__bold {
    font-weight: bold;

}

.emoAndCont-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    grid-area: emo;

}

#modalContainer {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageText {

    animation: fadeIn 5s infinite;
    margin: 0;

}

.contact-me {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    margin: 0;
    text-align: center;
}

.contact-me-bold {
    border-bottom: 2px #9A4ECC dashed;
}

.container-icons {
    font-size: clamp(1.2rem, 2vw, 2rem);
    color: #9A4ECC;
    min-height: 35px;
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 35px;
}

.email {
    font-size: clamp(1.3rem, 5vw, 2rem);
    cursor: pointer;
    margin: 0;
    text-align: center;
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.phrase-game {
    font-family: 'Lora',
        serif;
    font-size: clamp(0.8rem, 1vw, 0.9rem);
    text-align: center;


}

#game-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #000;
    padding: 20px;
    z-index: 1000;
}

.iconMail {
    color: #9A4ECC;
    margin-left: 10px;
}

#emoji-container {
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    position: relative;
    overflow: hidden;
    margin: 20px auto;
}

.btn-modal {
    font-family: 'Lora',
        serif;
    border-radius: 0px 10px 0 10px;

}

.btn-modal:hover {
    border-radius: 10px 0 10px 0;
}

#start,
#stop,
#open-modal,
#close-modal {
    font-size: 16px;
    margin: 10px;
}

.big-container-projects {
    display: none;
    margin-top: 50px;
}

.carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x proximity;
}

.carousel-item {
    flex: 0 0 auto;
    width: 50%;
    padding: 0 8px;
    box-sizing: border-box;
    position: relative;

}

.carousel-image {
    width: 100%;

    height: auto;

    display: block;
}

.carousel-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);

    padding: 8px;
    box-sizing: border-box;
}

.carousel-title,
.carousel-description,
.carousel-demo-link,
.carousel-code-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;

}

.carousel-demo-link,
.carousel-code-link {
    display: block;
    margin-top: 5px;

}

.carousel-code-link {
    color: #333;

}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        background-color: rgba(73, 153, 134, 0.5);
        text-align: center;

    }

    nav ul.active {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;

    }

    .nav-mobile-toggle {
        display: block;
        right: 100%;
    }

    .logo img {
        max-height: 120px;
        z-index: 1;

    }
}



@media (min-width: 768px) {

    .big-container-projects {
        display: inline;
        margin-top: 50px;
    }

    .namePhoto {
        padding-top: 50px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 100px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'photo contNames emo'
            'description description description';
    }

    .container-contact {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}


.projects-title {
    text-align: center;
    font-size: clamp(1.5rem, 5vw, 3.5rem);
}




#container-projects {

    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 500px));
    gap: 40px;
}

.project {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.project:hover img {
    transform: translateY(-10%);
}

.project-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s,
        transform 0.3s;

}


.project:hover .project-content {
    opacity: 1;
    transform: translateY(-50%);
}

.project-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.project-description {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.project:hover .project-description {
    transform: translateY(-50%);
}


.project:hover .project-links {
    transform: translateY(-50%);
}

.project-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.project-link:hover {
    text-decoration: underline;
}

/* NOTA: MODIFICAR COLORES */
.project:nth-child(4n + 1) {
    background-color: #B6CA4C;
}

.project:nth-child(4n + 2) {
    background-color: #D9DC54;
}

.project:nth-child(4n + 3) {
    background-color: #9A4ECC;
}

.project:nth-child(4n + 4) {
    background-color: #B6CA4C;
}